<div class="template-wrapper modal-wrapper">
  <div class="modal-header">
    <h4 class="display-ilb"><a href="/" target="_blank">Ramesh Kumar</a></h4>
    <span class="pull-right">
      <img class="display-ilb about-header-img" data-ng-src="/img/users/mean_color.jpg">
    </span>
  </div>
  <div class="modal-body about-modal-body">
    <p>This is a MEAN Stack demo application to showcase my expanding skills as a
    <!--<a href="https://www.linkedin.com/in/rorypasley"-->
    <a href="https://www.linkedin.com/in/rameshkumar1992"
      target="_blank">full-stack web developer</a>. The major concentration of
    this app is on testing in the AngularJS framework. Codebase can be viewed on
      <!--<a href="https://github.com/Paz23/Portfolio.git"-->
      <a href="https://github.com/rameshkr92?tab=repositories"
        target="_blank">GitHub</a>.</p>
    <p>Technologies include:<p>
    <ul>
      <li><strong class="modal-spacing">M</strong>ongo Database</li>
      <li><strong class="modal-spacing">E</strong>xpress Web Application Framework</li>
      <li><strong class="modal-spacing">A</strong>ngularJS Front-End Framework</li>
      <li><strong class="modal-spacing">N</strong>odeJS Runtime Environment</li>
      <li>Featuring
        <ul>
          <li>Karma Unit Testing</li>
          <li>Protractor End-to-End Testing</li>
          <li>Mongoose Object Modeling for MongoDB</li>
          <li>Bootstrap</li>
          <li>Angular UI-Bootstrap</li>
        </ul>
      </li>
    </ul>
    <span class="pull-left image-block">
      <img class="display-ilb about-block-img" data-ng-src="/img/users/mongodb.png">
      <img class="display-ilb about-block-img margin-top-6" data-ng-src="/img/users/express.png">
      <img class="display-ilb about-block-img margin-top-6" data-ng-src="/img/users/angularjs.png">
      <img class="display-ilb about-block-img" data-ng-src="/img/users/nodejs.png">
      <img class="display-ilb about-block-img-other" data-ng-src="/img/users/karma.png">
      <img class="display-ilb about-block-img-other" data-ng-src="/img/users/protractor.png">
      <img class="display-ilb about-block-img-sm margin-top-6" data-ng-src="/img/users/mongoose.png">
      <img class="display-ilb about-block-img-other" data-ng-src="/img/users/bootstrap.png">
      <img class="display-ilb about-block-img-other" data-ng-src="/img/users/ui-bootstrap.png">
    </span>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-success about-modal-ok" data-ng-click="modalOptions.ok()">
      <span data-ng-bind="modalOptions.actionButtonText"></span>
    </button>
  </div>
</div>
