<div class="template-wrapper">
  <div id="password_change" class="row">
    <div class="jumbotron
      col-xs-10 col-xs-offset-1
      col-sm-8 col-sm-offset-2
      col-md-6 col-md-offset-3">
      <div class="container">

        <h2 id="title">
          <span class="glyphicon glyphicon-edit"></span>
          <span class="title" data-ng-bind="form_for"></span>
        </h2>

        <form id="{{form_name}}" name="{{form_name}}" role="form"
          data-ng-submit="submit()" novalidate>

          <div class="form-group"
            data-ng-class="{'has-error': {{form_name}}.current_password.$dirty
            &amp;&amp; {{form_name}}.current_password.$invalid,
            'has-success': {{form_name}}.current_password.$dirty &amp;&amp;
            {{form_name}}.current_password.$valid}">

            <label for="current_password">Current Password</label>
            <input type="password"
              id="current_password"
              name="current_password"
              class="form-control"
              placeholder="Current Password"
              data-ng-model="user.current_password"
              data-ng-model-options="{updateOn: 'blur'}"
              data-ng-minlength="6"
              autofocus
              required />

            <span data-ng-show="{{form_name}}.current_password.$error.minlength"
              class="help-block">
                Password is required to be at least 6 characters.
            </span>
          </div>

          <div class="form-group"
            data-ng-class="{'has-error': {{form_name}}.password.$dirty &amp;&amp;
            {{form_name}}.password.$invalid,
            'has-success': {{form_name}}.password.$dirty &amp;&amp;
            {{form_name}}.password.$valid}">

            <label for="password">New Password</label>
            <input type="password"
              id="password"
              name="password"
              class="form-control"
              placeholder="New Password"
              data-ng-model="user.password"
              data-ng-model-options="{updateOn: 'blur'}"
              data-ng-minlength="6"
              required />

            <span data-ng-show="{{form_name}}.password.$error.minlength"
              class="help-block">
                Password is required to be at least 6 characters.
            </span>
            <span data-ng-show="{{form_name}}.password.$dirty &amp;&amp;
              {{form_name}}.password.$error.required" class="help-block">
                Password is required.
            </span>
          </div>

          <div class="form-group"
            data-ng-class="{'has-error': {{form_name}}.password_confirmation.$dirty
            &amp;&amp; {{form_name}}.password_confirmation.$invalid,
            'has-success': {{form_name}}.password_confirmation.$dirty
            &amp;&amp; {{form_name}}.password_confirmation.$valid}">

            <label for="password_confirmation">New Password Confirmation</label>
            <input type="password"
              id="password_confirmation"
              name="password_confirmation"
              class="form-control"
              placeholder="New Password Confirmation"
              data-ng-model="user.password_confirmation"
              data-ng-model-options="{debounce: 250}"
              data-pc-compare-to="user.password"
              required />

            <span data-ng-show="{{form_name}}.password_confirmation.$dirty &amp;&amp;
              {{form_name}}.password_confirmation.$error.required"
              class="help-block">
                Password confirmation is required.
            </span>
            <span data-ng-show="{{form_name}}.password_confirmation.$dirty &amp;&amp;
              {{form_name}}.password_confirmation.$error.compareTo"
              class="help-block">
                Password and password confirmation must match.
            </span>
          </div>

          <div class="form-actions">
            <div class="form-group">
<!-- have to use bind html and ngSanitize for btn text -->
              <button id="{{id_name}}-btn" type="submit"
                class="btn btn-primary col-md-12 margin-bottom"
                data-ng-disabled="{{form_name}}.$invalid"
                data-ng-bind-html="btn_text">
              </button>
            </div>
            <div class="form-group">
              <div>
                <a id="cancel-btn" class="btn btn-default col-md-12" href="#/users">Cancel</a>
              </div>
              <img data-ng-if="dataLoading" src="/img/shared/spinner.gif" />
            </div>
          </div>
        </form>

      </div>
    </div>
  </div>
</div>
