<div class="content">
  <div id="testing">
    <div id="unit">
      <div id="iPadWarning" class="row" ng-if="isiPad">
        <div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1
          col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2 bg-warning">
          <h3 class="text-center text-danger" data-ng-bind="iPadMsg.title"></h3>
          <p class="text-danger"><span data-ng-bind="iPadMsg.msgP1"></span>
            <a href="{{iPadMsg.hrefIssue"><span data-ng-bind="iPadMsg.msgP2"></span></a>
            <span data-ng-bind="iPadMsg.msgP3"></span>
            <a href="{{iPadMsg.hrefP1}}" target="_blank">
              <span data-ng-bind="iPadMsg.hrefP1Name"></span>
            </a>
            <a href="{{iPadMsg.hrefP2}}" target="_blank">
              <span data-ng-bind="iPadMsg.hrefP2Name"></span>
            </a>
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1
          col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1 text-center">
          <hr>
          <h3 id="unit_test_title" data-ng-bind="unit_test_title"></h3>
          <hr>
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1
              col-lg-10 col-lg-offset-1">
              <div data-ng-repeat="unit_test in unit_tests">
                <iframe id="plunker{{$index}}" data-ng-src="{{unit_test.href}}"
                  height="500" width="100%"></iframe>
                <hr>
              </div>
            </div>
          </div>
        </div>
      </div>
      <data-ng-include src="'partials/main/_scrollTo.html'"></data-ng-include>
    </div>
    <div id="e2e">
      <div class="row">
        <div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1
          col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
          <hr>
          <h3 id="e2e_test_title" class="text-center"
            data-ng-bind="e2e_test_title"></h3>
          <hr>
          <div class="row" data-ng-repeat="e2e_test in e2e_tests">
            <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1
              col-lg-10 col-lg-offset-1">
              <h4 class="text-center" data-ng-bind="e2e_test.name"></h4>
              <iframe id="ytplayer{{$index}}" data-ng-src="{{e2e_test.href}}"
                height="420" width="100%" allowfullscreen></iframe>
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <h5 class="text-center" data-ng-bind="e2e_test.test"></h5>
                <p class="text-left" data-ng-bind="e2e_test.desc"></p>
              </div>
              <hr>
            </div>
          </div>
        </div>
      </div>
      <data-ng-include src="'partials/main/_scrollTo.html'"></data-ng-include>
    </div>
  </div>
</div>
