<div id="bottom-footer" data-ng-controller="PortfolioNavBarController">
  <div class="container">
    <div class="row bg-black">
      <div class="col-xs-6 col-sm-6 col-md-6 col-md-offset-2">
        <ul>
          <li>
            <a id="linkedin-footer-btn" href="{{linkedin_url}}" target="_blank">
              <i class="fa fa-2x fa-{{linkedin_fa}}"></i>
            </a>
          </li>
          <li>
            <a id="github-footer-btn" href="{{github_url}}" target="_blank">
              <i class="fa fa-2x fa-{{github_fa}}"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
